body
{
    background-image: url(https://img.freepik.com/vector-gratis/estilo-fondo-textura-elegante-blanco_23-2148432200.jpg?size=626&ext=jpg);
    color: black;
    text-align: left;
    font-family: "Arial";
}
h1{
    color: brown;
    text-align: center;
}
table{
    border: rebeccapurple 2px solid;
    text-align: center;
    padding: 0.5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
td,th{
    border: rebeccapurple 2px solid;
    
}

